html {
  scroll-behavior: smooth;
  }
  :root{
  scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
  scrollbar-width: thin !important;
  }
  ::-webkit-scrollbar {
  height: 12px;
  width: 8px;
  background:gray;
  }
  ::-webkit-scrollbar-thumb {
  background:#1e1e1e;
  }
  ::-webkit-scrollbar-corner {
  background: gray;
  }
  
  
  
  
  
  
  
  
 
 
 
 
 body{
  margin-top:80px;

  
  background:gray;
  font-family: 'Oswald', sans-serif;
  }
  
  

  #main {
    transition: margin-left .5s;
  }
  
  

  .search {
    background:black;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
  }
  
  .search input {
    height: 25px;
    background: lightgray;
    border: none;
    outline: none;
  }
  
  .icons {
    font-size: 25px;
    float: right;
  }
  
  .icons-hover a {
    padding: 18px;
    margin-right: 50px;
    border-radius: 50%;
    transition: 0.25s;
  }
  
  .icons-hover a:hover {
    background: gray;
    color: white;
    opacity: 0.9;
    cursor: pointer;
  }
  
  
  /* ------------------------- */
  
  .open {
    color: gray;
    margin-right: 50px;
    border-radius: 50%;
    padding: 18px;
    transition: 0.5s;
  }
  
  .open:hover {
    background: gray;
    color: white;
  }
  
  
  
  .force-overflow
  {
      min-height: 450px;
  }
  
  #wrapper
  {
      text-align: center;
      width: 500px;
      margin: auto;
  }
  
  .fa{
    color:#7ed321;
    cursor:pointer;
    }
  
  
  /* ---------------- Sidebar ------------------ */
  .sidebar1 {
    background: #1a1a1a;
    position: fixed;
    font-family: sans-serif;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    left: 0;
    top: 120px;
    z-index: 1;
    width: 210px;
  }
  
  .sidebar1 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0;
  }
  
  .sidebar1 .closebtn:hover {
    color: white;
    background: #1a1a1a;
  }
  
  .sidebar1 a {
    text-decoration: none;
    color: gray;
    padding: 12px;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar1 a:hover {
    color: white;
    background: gray;
  }
  
  .sidebar1 i {
    padding-right: 12px;
  }
  
  
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* SEARCH MODAL */

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid green;
  
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color:green;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid black;
    background: gray;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  