body, html{
    font-size: 100%;
}
body,html{
    margin-top: -80px;
    padding: 0;
}

a{
    color:white;
    font-size: 20px;
    text-decoration: none;


}
nav ul{
    list-style: none;
    padding:0;
    background:#444;
}

nav ul li a{
    color:#ddd;
    text-decoration: none;
    padding: .6rem 1rem;
    display: block;
}
nav ul li{
    border-bottom: 1px dotted #ddd;
}
/*styling logo*/

nav div:first-child{
    background:#222;
}
nav div:first-child h1{
    line-height: 0;
    padding: .8rem 0rem;
    text-align: center;
}


nav div:first-child h1, nav ul{
    margin:0;
}

/*Styling for larger devices*/

@media only screen and (min-width: 30em){
    nav{
        display: flex;
        justify-content:space-evenly;
        background: #222;
        align-items: center;
    }

    nav ul{
        display: flex;
        align-items: center;
        background:none;
        flex-wrap: wrap;
    }
    nav div:first-child h1{
        padding: 0;
        margin:0 1rem;
    }
    nav div:first-child img{
        height: 40px;

    }

    a:hover {

    font-size: 150%;

      }


a:active{ color:green;}

.navbar-nav > .active > a {
    background-color: red ;
}


}
.current_page_item {
    text-decoration:solid;
    color:green;
  }
